-# layouts/_metadata_partial.haml - Metadata fragment
-# Copyright (C) 2012 Matteo Panella <morpheus@level28.org>
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.

- embedded ||= false
- author = item[:author].nil? ? "qualcuno (wtf?)" : item[:author]

.metadata
  %small
    Scritto il #{format_date(item[:created_at])} da #{author}
    - unless item[:tags].nil? or item[:tags].empty?
      = succeed " " + tags_for(item, :base_url => "#{@config[:base_url]}/tags/", :none_text => "(nessuno)") do
        %i{:class => "fa fa-tags"}
    - if embedded and @config[:disqus_enabled]
      &mdash;
      %a{:href => "#{url_for_article(item)}#disqus_thread", :data => {:disqus_identifier => url_for_article(item)}} Commenti
