-# layouts/default.haml - Master layout file
-# Copyright (c) 2012-2014, Matteo Panella <morpheus@level28.org>
-# All rights reserved.
-#
-# Redistribution and use in source and binary forms, with or without
-# modification, are permitted provided that the following conditions are met:
-#
-#  1. Redistributions of source code must retain the above copyright notice,
-#     this list of conditions and the following disclaimer.
-#
-#  2. Redistributions in binary form must reproduce the above copyright
-#     notice, this list of conditions and the following disclaimer in the
-#     documentation and/or other materials provided with the distribution.
-#
-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
-# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
-# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
-# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
-# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
-# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
-# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
-# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
-# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
-# POSSIBILITY OF SUCH DAMAGE.
!!!
%html{:lang => "it"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "generator", :content => "nanoc #{Nanoc::VERSION}"}
    / Damn IE and its compatibility modes
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
    %title= get_title
    %link{:rel => "stylesheet", :type => "text/css", :href => "//maxcdn.bootstrapcdn.com/bootstrap/#{@config[:bootstrap_ver]}/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "//maxcdn.bootstrapcdn.com/bootstrap/#{@config[:bootstrap_ver]}/css/bootstrap-theme.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "//maxcdn.bootstrapcdn.com/font-awesome/#{@config[:fontawesome_ver]}/css/font-awesome.min.css"}
    %link{:rel => "stylesheet", :href => "//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/overrides.min.css"}
    / IE Sucks
    /[if lt IE 9]
      %script{:src => "//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
      %script{:src => "//oss.maxcdn.com/respond/1.4.2/respond.min.js"}
    - needs_mathjax = mathjax_required?
    - if needs_mathjax
      %script{:type => "text/javascript", :src => "//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=configured"}

    / Shortcut icons et al.
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "/apple-touch-icon-144-precomposed.png"}
    %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/apple-touch-icon-114-precomposed.png"}
    %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "/apple-touch-icon-72-precomposed.png"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "/apple-touch-icon-57-precomposed.png"}

    / Atom feed
    %link{:rel => "feed alternate", :href => "/atom.xml", :type => "application/atom+xml", :title => "Atom Feed"}

  %body
    / The top-level navigation bar used in phone/narrow tablet layout
    .navbar.navbar-default.navbar-static-top.hidden-md.hidden-lg
      .container
        .navbar-header
          %button{:type => "button", :class => "navbar-toggle collapsed", :data => {:toggle => "collapse", :target => ".navbar-collapse"}}
            %span.sr-only<
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{:class => "navbar-brand", :href => "/"}= @config[:blog_name]
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            - @config[:navigation].each do |block|
              = render('_navbar_partial', :block => block)
    .container
      = render('_header', :item => @item)
      .row
        / Main content area
        .col-md-10
          - content = find_and_preserve(yield)
          -# If we're dealing with an article we need to render it using a specialised partial
          - if @item[:kind] == 'article'
            = render('_article_partial', {:item => @item, :content => content})
          - else
            = content
        / The navigation sidebar used on devices with high resolution (desktops et al.)
        .col-md-2.visible-md.visible-lg
          - @config[:navigation].each do |block|
            = render('_sidebar_partial', :block => block)

    %footer
      .container
        %hr
        &copy; Matteo Panella &mdash; Contenuto concesso in licenza
        %a{:href => "http://creativecommons.org/licenses/by/3.0/it/deed.it", :target => "_blank"} CC BY 3.0
        &mdash;
        %a{:href => "https://github.com/rfc1459/newblog/", :target => "_blank"}
          Fork me on GitHub

    -# Javascript stuff
    %script{:src => "//code.jquery.com/jquery-latest.min.js"}
    %script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/#{@config[:bootstrap_ver]}/js/bootstrap.min.js"}
    - if needs_mathjax
      %script{:src => "/js/mathjax_config.js"}
